body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    margin-top: 40px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
}